body {
    font-family: 'Roboto';
    margin: 0;
}

.header, .footer {
    background-color: #1F2937;
}

.content h1 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
    margin: 0;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    gap: 24px
}

a, .content p {
    text-decoration: none;    
    font-size: 18px;
    color: #E5E7EB;
}

.logo {
    font-size: 24px;
    color: #F9FAF8;
    font-weight: 700;
}

button, .cta {
    background-color: #3882F6;
}

.title {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin: 32px;
}

.quote {
    background-color: #E5E7EB;
    padding: 112px 520px;
    display: flex;
    flex-direction: column;
}

.quote .sentence {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;
    color: #1F2937;
}

.quote .author {
    font-size: larger;
    font-weight: 900;
    text-align: end;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 32px 240px 160px;
}

.top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 64px;
}

.media {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.image {
    width: 1000px;
    height: 500px;
}

.image img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.content {
    max-width: 500px;
}

button {
    color: #F9FAF8;
    font-weight: 600;
    font-size: larger;
    background-color: #3882F6;
    padding: 10px 30px;
    border: 0;
    border-radius: 10px;
}

.info {
    display: flex;
    justify-content: center;
    gap: 52px;
    margin-bottom: 80px;
}

.graph {
    width: 150px;
}

.pic {
    border: 5px solid #3882F6;
    border-radius: 15px;
    width: 150px;
    height: 150px;
    margin-bottom: 8px;
}

.pic img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    object-fit: cover;
}

.title, .text {
    text-align: center;
}

.cta {
    margin: 112px 336px;
    padding: 48px 112px;
    border-radius: 10px;
    color: #F9FAF8;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cta button {
    border: 2px solid #F9FAF8
}

.text2 p {
    margin: 0;
}

.text3 {
    font-size: 20px;
    font-weight: 700;
}

.footer {
    color: #F9FAF8;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 48px;
}